<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-body-height" />
    <title>Clobberfest &middot; Guest</title>
</head>
<body>
    @RenderBody()
</body>
</html>