@{
    if(User != null && User.Identity != null && User.Identity.IsAuthenticated)
    {
        Layout = "_Default";
    }
    else
    {
        Layout = "_Guest";
    }
}

<section class="section">
    <h1>Wiki stuff</h1>
    @RenderBody()
</section>