<section class="hero is-fullheight">
    <div class="hero-body" style="padding-top: 84px;">
        <div class="columns">
            <div class="column">
                <h1 class="title">WikiFest</h1>
                <h2 class="subtitle">The soul of Clobberfest</h2>
                <p>
                    The game client is compiled against this wiki to ensure the game remains consistent and enjoyable. If you find any issues or wish to help please see the <a href="https://github.com/Spokesoft/clobberfest/issues">bug tracker</a>
                </p>
            </div>
            <div class="column">
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</section>