<div class="columns mt-5">
    <div class="column is-one-quarter">
        <aside class="menu">
            <h1 class="title">ClobberWiki</h1>
            <h2 class="subtitle">The soul of Clobberfest</h2>
            <div class="field">
                <div class="control has-icons-right">
                    <input class="input" type="text" placeholder="Search the wiki" />
                    <span class="icon is-right"> 
                        <i class="fas fa-search"></i> 
                    </span>
                </div>
            </div>
            <ul class="menu-list">
                <li><a href="#">Areas</a></li>
                <li><a href="#">Difficulty</a></li>
                <li><a href="#">Heroes</a></li>
                <li><a href="#">Items</a></li>
                <li><a href="#">Lore</a></li>
                <li><a href="#">Mobs</a></li>
                <li><a href="#">Npcs</a></li>
            </ul>
        </aside>
    </div>
    <div class="column">
        <h1 class="title is-1">Welcome to ClobberWiki</h1>
        <p>
            The game client is compiled against this wiki to ensure the game remains consistent and enjoyable. If you find any issues or wish to help please see the <a href="https://github.com/Spokesoft/clobberfest/issues">bug tracker</a>
        </p>
    </div>  
</div>