<header id="header">
    <nav class="navbar is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">Clobberfest</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="header-navbar-menu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/blog">Blog</a>
                    <a class="navbar-item" href="/wiki">Wiki</a>
                    <div class="navbar-item">
                        <span class="icon">
                        <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <a class="navbar-item" href="/login">Login</a>
                    <a class="navbar-item" href="/register">Register</a>
                </div>
            </div>
        </div>
    </nav>
</header>